In [1]:
! pip install pandas numpy
! pip install matplotlib seaborn

Requirement already satisfied: pandas in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: matplotlib in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: seaborn in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from matplotlib) (2.1.3)
Requirement already satisfied: packaging>=20.0 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: pytz>=2020.1 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [2]:
import pandas as pd
import numpy as np

import os

In [3]:
SEEDS = ['actor', 
         'amusement_park', 
         'band', 
         'championship', 
         'chemical_element', 
         'company', 
         'comune', 
         'dialect', 
         'film', 
         'scientist', 
         'sculpture', 
         'university', 
         'vehicle', 
         'video_game']


SIZES = [2]

In [4]:
_can = None

print(os.listdir('../experiments_can_wt'))

for seed in SEEDS:
    for size in SIZES:
        _tmp = pd.read_csv(f'../experiments_can_wt/{seed}/{size}.csv', sep=';')
        if _can is None:
            _can = _tmp
        else:
            _can = pd.concat([_can, _tmp])

print(_can.columns)
print(_can.shape)

# drop the Unnamed: 9 column
_can = _can.drop('Unnamed: 9', axis=1)

#print(_can.columns)
#print(_can.shape)


print(_can.head())

['vehicle', 'comune', 'university', 'dialect', 'sculpture', 'amusement_park', 'film', 'video_game', 'scientist', 'chemical_element', 'company', 'championship', 'actor', 'band']
Index(['SEED', 'UNIT', 'UNIT_SIZE', 'SUMMARY_SIZES', 'WT_SUMMARY_SIZES',
       'CAN_SIZE', 'WT_CAN_SIZE', 'SUMMARY_COMPUTATION_TIME',
       'CAN_COMPUTATION_TIME', 'Unnamed: 9'],
      dtype='object')
(140000, 10)
    SEED                       UNIT  UNIT_SIZE SUMMARY_SIZES WT_SUMMARY_SIZES  \
0  actor  bn:00915979n,bn:02426205n          2       260,265          519,528
1  actor  bn:15939213n,bn:05144812n          2       257,256          512,512
2  actor  bn:02688185n,bn:05472498n          2       260,256          519,511
3  actor  bn:08476136n,bn:03875359n          2       255,258          510,515
4  actor  bn:03340439n,bn:02366938n          2       259,270          517,538

   CAN_SIZE  WT_CAN_SIZE  SUMMARY_COMPUTATION_TIME  CAN_COMPUTATION_TIME
0     65033       130065                  21.31712             498.59935
1     63762       127525                  15.58194             482.08496
2     63761       127522                  18.10442             493.95610
3     63508       127017                  18.11145             451.90233
4     66553       133105                  18.65452             538.11368

In [5]:
# read the names of the subfolders in experiments

print(os.listdir('../24-09-13'))

merged = None


for seed in SEEDS:
    for size in SIZES:
        _tmp = pd.read_csv(f'../24-09-13/{seed}/{size}.csv', sep=';')
        if merged is None:
            merged = _tmp
        else:
            merged = pd.concat([merged, _tmp])

# drop the "Unnamed: N"-like columns

to_remove = [col for col in merged.columns if 'Unnamed' in col]

for col in to_remove:
    merged = merged.drop(col, axis=1)

#merged = merged.drop('Unnamed: 20', axis=1)

print(merged.columns) 
print(merged.shape)

['vehicle', 'comune', 'university', 'dialect', 'sculpture', 'amusement_park', 'film', 'video_game', 'scientist', 'chemical_element', 'company', 'championship', 'actor', 'band']
Index(['SEED', 'UNIT', 'UNIT_SIZE', 'SUMMARY_SIZES', 'WT_SUMMARY_SIZES',
       'SUMMARY_TILDE_SIZES', 'OLDKER_SIZE', 'WT_OLDKER_SIZE', 'NEWKER_SIZE',
       'WT_NEWKER_SIZE', 'OLDCORE_SIZE', 'WT_OLDCORE_SIZE', 'NEWCORE_SIZE',
       'WT_NEWCORE_SIZE', 'SUMMARY_COMPUTATION_TIME',
       'SUMMARY_TILDE_COMPUTATION_TIME', 'OLDKER_COMPUTATION_TIME',
       'NEWKER_COMPUTATION_TIME', 'OLDCORE_COMPUTATION_TIME',
       'NEWCORE_COMPUTATION_TIME'],
      dtype='object')
(140000, 20)

In [6]:
to_drop = []

# drop columns that are not useful for the analysis

to_drop = [col for col in merged.columns if '_TIME' in col]


# need to drop: OLDKER_SIZE, WT_OLDKER_SIZE, OLDCORE_SIZE, WT_OLCORE_SIZE

to_drop += ['OLDKER_SIZE', 'WT_OLDKER_SIZE', 'OLDCORE_SIZE', 'WT_OLDCORE_SIZE']

# drop the columns


for col in to_drop:
    merged = merged.drop(col, axis=1)

In [7]:
_can

,SEED,UNIT,UNIT_SIZE,SUMMARY_SIZES,WT_SUMMARY_SIZES,CAN_SIZE,WT_CAN_SIZE,SUMMARY_COMPUTATION_TIME,CAN_COMPUTATION_TIME
0,actor,"bn:00915979n,bn:02426205n",2,"260,265","519,528",65033,130065,21.31712,498.59935
1,actor,"bn:15939213n,bn:05144812n",2,"257,256","512,512",63762,127525,15.58194,482.08496
2,actor,"bn:02688185n,bn:05472498n",2,"260,256","519,511",63761,127522,18.10442,493.95610
3,actor,"bn:08476136n,bn:03875359n",2,"255,258","510,515",63508,127017,18.11145,451.90233
4,actor,"bn:03340439n,bn:02366938n",2,"259,270","517,538",66553,133105,18.65452,538.11368
...,...,...,...,...,...,...,...,...,...
9995,video_game,"bn:17384039n,bn:01616384n",2,"159,163","318,325",22966,45933,16.99262,151.76236
9996,video_game,"bn:01015188n,bn:01206451n",2,"157,161","314,321",23412,46825,15.01929,170.54156
9997,video_game,"bn:01886909n,bn:03392170n",2,"160,157","320,314",22960,45921,16.30277,173.00967
9998,video_game,"bn:01819520n,bn:14321127n",2,"157,156","314,312",22808,45617,14.32891,169.78997
9999,video_game,"bn:02239227n,bn:01189121n",2,"159,163","318,325",22961,45923,18.10267,172.33157

In [8]:
merged

,SEED,UNIT,UNIT_SIZE,SUMMARY_SIZES,WT_SUMMARY_SIZES,SUMMARY_TILDE_SIZES,NEWKER_SIZE,WT_NEWKER_SIZE,NEWCORE_SIZE,WT_NEWCORE_SIZE
0,actor,"bn:00915979n,bn:02426205n",2,"260,265","519,528","6,12",4,8,255,510
1,actor,"bn:15939213n,bn:05144812n",2,"257,256","512,512","5,5",4,9,255,511
2,actor,"bn:02688185n,bn:05472498n",2,"260,256","519,511","8,5",5,10,256,512
3,actor,"bn:08476136n,bn:03875359n",2,"255,258","510,515","4,7",4,9,255,511
4,actor,"bn:03340439n,bn:02366938n",2,"259,270","517,538","8,10",6,12,257,514
...,...,...,...,...,...,...,...,...,...,...
9995,video_game,"bn:17384039n,bn:01616384n",2,"159,163","318,325","9,13",6,13,156,313
9996,video_game,"bn:01015188n,bn:01206451n",2,"157,161","314,321","7,8",6,13,156,313
9997,video_game,"bn:01886909n,bn:03392170n",2,"160,157","320,314","9,7",6,13,156,313
9998,video_game,"bn:01819520n,bn:14321127n",2,"157,156","314,312","7,6",5,11,155,311
9999,video_game,"bn:02239227n,bn:01189121n",2,"159,163","318,325","8,13",6,13,156,313

In [9]:
# add to "merged" the columns "can_size" and "wt_can_size" joining on "unit"

merged = pd.merge(merged, _can, on=['SEED','UNIT', 'UNIT_SIZE', 'SUMMARY_SIZES', 'WT_SUMMARY_SIZES'], how='inner')

print(merged.columns)

Index(['SEED', 'UNIT', 'UNIT_SIZE', 'SUMMARY_SIZES', 'WT_SUMMARY_SIZES',
       'SUMMARY_TILDE_SIZES', 'NEWKER_SIZE', 'WT_NEWKER_SIZE', 'NEWCORE_SIZE',
       'WT_NEWCORE_SIZE', 'CAN_SIZE', 'WT_CAN_SIZE',
       'SUMMARY_COMPUTATION_TIME', 'CAN_COMPUTATION_TIME'],
      dtype='object')

In [10]:
merged

,SEED,UNIT,UNIT_SIZE,SUMMARY_SIZES,WT_SUMMARY_SIZES,SUMMARY_TILDE_SIZES,NEWKER_SIZE,WT_NEWKER_SIZE,NEWCORE_SIZE,WT_NEWCORE_SIZE,CAN_SIZE,WT_CAN_SIZE,SUMMARY_COMPUTATION_TIME,CAN_COMPUTATION_TIME
0,actor,"bn:00915979n,bn:02426205n",2,"260,265","519,528","6,12",4,8,255,510,65033,130065,21.31712,498.59935
1,actor,"bn:15939213n,bn:05144812n",2,"257,256","512,512","5,5",4,9,255,511,63762,127525,15.58194,482.08496
2,actor,"bn:02688185n,bn:05472498n",2,"260,256","519,511","8,5",5,10,256,512,63761,127522,18.10442,493.95610
3,actor,"bn:08476136n,bn:03875359n",2,"255,258","510,515","4,7",4,9,255,511,63508,127017,18.11145,451.90233
4,actor,"bn:03340439n,bn:02366938n",2,"259,270","517,538","8,10",6,12,257,514,66553,133105,18.65452,538.11368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139995,video_game,"bn:17384039n,bn:01616384n",2,"159,163","318,325","9,13",6,13,156,313,22966,45933,16.99262,151.76236
139996,video_game,"bn:01015188n,bn:01206451n",2,"157,161","314,321","7,8",6,13,156,313,23412,46825,15.01929,170.54156
139997,video_game,"bn:01886909n,bn:03392170n",2,"160,157","320,314","9,7",6,13,156,313,22960,45921,16.30277,173.00967
139998,video_game,"bn:01819520n,bn:14321127n",2,"157,156","314,312","7,6",5,11,155,311,22808,45617,14.32891,169.78997
139999,video_game,"bn:02239227n,bn:01189121n",2,"159,163","318,325","8,13",6,13,156,313,22961,45923,18.10267,172.33157

In [11]:
# drop "UNIT_SIZE", "SUMMARY_SIZES", "WT_SUMMARY_SIZES", "SUMMARY_TILDE_SIZES", "NEWKER_SIZE", "WT_NEWKER_SIZE", "SUMMARY_COMPUTATION_TIME", "CAN_COMPUTATION_TIME"

to_drop = ['UNIT_SIZE', 'SUMMARY_SIZES', 'WT_SUMMARY_SIZES', 'SUMMARY_TILDE_SIZES', 'NEWKER_SIZE', 'WT_NEWKER_SIZE', 'SUMMARY_COMPUTATION_TIME', 'CAN_COMPUTATION_TIME']

for col in to_drop:
    merged = merged.drop(col, axis=1)

In [12]:
merged

,SEED,UNIT,NEWCORE_SIZE,WT_NEWCORE_SIZE,CAN_SIZE,WT_CAN_SIZE
0,actor,"bn:00915979n,bn:02426205n",255,510,65033,130065
1,actor,"bn:15939213n,bn:05144812n",255,511,63762,127525
2,actor,"bn:02688185n,bn:05472498n",256,512,63761,127522
3,actor,"bn:08476136n,bn:03875359n",255,511,63508,127017
4,actor,"bn:03340439n,bn:02366938n",257,514,66553,133105
...,...,...,...,...,...,...
139995,video_game,"bn:17384039n,bn:01616384n",156,313,22966,45933
139996,video_game,"bn:01015188n,bn:01206451n",156,313,23412,46825
139997,video_game,"bn:01886909n,bn:03392170n",156,313,22960,45921
139998,video_game,"bn:01819520n,bn:14321127n",155,311,22808,45617
139999,video_game,"bn:02239227n,bn:01189121n",156,313,22961,45923

In [13]:
# compute CAN-CORE-ratio and WT-CAN-CORE-ratio

merged['CAN_CORE_RATIO'] = merged['CAN_SIZE'] / merged['NEWCORE_SIZE']
merged['WT_CAN_CORE_RATIO'] = merged['WT_CAN_SIZE'] / merged['NEWCORE_SIZE']

merged

,SEED,UNIT,NEWCORE_SIZE,WT_NEWCORE_SIZE,CAN_SIZE,WT_CAN_SIZE,CAN_CORE_RATIO,WT_CAN_CORE_RATIO
0,actor,"bn:00915979n,bn:02426205n",255,510,65033,130065,255.031373,510.058824
1,actor,"bn:15939213n,bn:05144812n",255,511,63762,127525,250.047059,500.098039
2,actor,"bn:02688185n,bn:05472498n",256,512,63761,127522,249.066406,498.132812
3,actor,"bn:08476136n,bn:03875359n",255,511,63508,127017,249.050980,498.105882
4,actor,"bn:03340439n,bn:02366938n",257,514,66553,133105,258.961089,517.918288
...,...,...,...,...,...,...,...,...
139995,video_game,"bn:17384039n,bn:01616384n",156,313,22966,45933,147.217949,294.442308
139996,video_game,"bn:01015188n,bn:01206451n",156,313,23412,46825,150.076923,300.160256
139997,video_game,"bn:01886909n,bn:03392170n",156,313,22960,45921,147.179487,294.365385
139998,video_game,"bn:01819520n,bn:14321127n",155,311,22808,45617,147.148387,294.303226
139999,video_game,"bn:02239227n,bn:01189121n",156,313,22961,45923,147.185897,294.378205

In [14]:
# GROUPED BY SEED, AND IN OVERALL, COMPUTE MEAN, MIN, MAX RATIOS

grouped = merged.groupby('SEED').agg({'CAN_CORE_RATIO': ['mean', 'min', 'max'], 'WT_CAN_CORE_RATIO': ['mean', 'min', 'max']})

# ADD THE 'OVERALL' ROW (as another seed)

overall = merged.agg({'CAN_CORE_RATIO': ['mean', 'min', 'max'], 'WT_CAN_CORE_RATIO': ['mean', 'min', 'max']})


grouped

overall

      CAN_CORE_RATIO  WT_CAN_CORE_RATIO
mean      190.633746         380.255818
min        17.105263          34.263158
max      1215.558140        2431.139535

In [15]:
grouped

                 CAN_CORE_RATIO                          WT_CAN_CORE_RATIO  \
                           mean         min          max              mean
SEED
actor                254.358043  244.296154   429.393382        508.716865
amusement_park       150.200507   97.976744   423.678967        300.409330
band                 146.785353  119.325581   622.900662        293.576030
championship         171.602301  122.313433   547.666667        343.194159
chemical_element     178.993317   36.000000  1215.558140        351.965780
company              270.885869  163.006098   633.630208        541.776808
comune               305.389718  302.268987   394.165605        610.782619
dialect              123.396314   99.876404   270.809917        238.932474
film                 108.338171   25.930233   853.333333        216.699752
scientist            278.599420  163.000000   537.234568        557.200554
sculpture            200.476674   17.105263  1050.782609        400.967697
university           159.593539  133.303448   502.388489        319.194181
vehicle              162.076155   58.000000   610.933333        323.804832
video_game           158.177059  141.000000   389.907285        316.360369


                         min          max
SEED
actor             488.592308   858.790441
amusement_park    195.953488   847.361624
band              238.651163  1245.807947
championship      229.757937  1095.341270
chemical_element   57.906667  2431.139535
company           326.018293  1267.265625
comune            604.541139   788.334395
dialect           184.520661   541.628099
film               51.883721  1706.692308
scientist         326.006211  1074.475309
sculpture          34.263158  2101.608696
university        266.606897  1004.784173
vehicle            99.177419  1221.883333
video_game        282.006173   779.821192

In [17]:
overall

      CAN_CORE_RATIO  WT_CAN_CORE_RATIO
mean      190.633746         380.255818
min        17.105263          34.263158
max      1215.558140        2431.139535

In [16]:
grouped.to_csv('tables/can_core_ratio.csv', sep=';', float_format='%.5f')
overall.to_csv('tables/can_core_ratio_overall.csv', sep=';', float_format='%.5f')